form#register.my-0(@submit.prevent="register")
    .form-group
        input.form-control.sky-input.sky-input(name="username" placeholder="Логин"
            v-model="userData.username" required
            v-validate="'required|min:3|alpha_num'"
            :class="{'is-invalid': errors.has('username')}"
            @focus="flushErrors('username')" @blur="checkExists('username')"
        )
        small.invalid-feedback(v-if="errors.has('username')")
            div(v-if="errors.first('username:min')") Не меньше 3 символов
            div(v-if="errors.first('username:alpha_num')") Разрешены только английские буквы и цифры
            div(v-if="errors.first('username:unique')") Такой ник уже занят
    
    .form-group
        input.form-control.sky-input(name="email" type="email" placeholder="Почта"
            v-model="userData.email" required
            v-validate="'required|email'"
            :class="{'is-invalid': errors.has('email')}"
            @focus="flushErrors('email')" @blur="checkExists('email')"
        )
        small.invalid-feedback(v-if="errors.has('email')")
            div(v-if="errors.first('email:unique')") Почта уже в системе

    .form-group
        input.form-control.sky-input(name="password" type="password" placeholder="Пароль"
            v-model="userData.password" required
            v-validate="'required|min:6'"
            :class="{'is-invalid': errors.has('password')}"
            @focus="flushErrors('password')"
        )
        small.invalid-feedback(v-if="errors.has('password')")
            div(v-if="errors.first('password:min')") Да-да, здесь тоже не меньше 6 символов!

    .form-group
        input.form-control.sky-input(name="password2" type="password" placeholder="Пароль"
            v-model="userData.password2" required
            v-validate="'required|confirmed:password'"
            :class="{'is-invalid': errors.has('password2')}"
            @focus="flushErrors('password2')"
        )
        small.invalid-feedback(v-if="errors.has('password2')")
            div(v-if="errors.first('password2')") Пароли не совпадают

    button.sky-btn.btn.btn-primary(type="submit" style="width: 100%;" :disabled="formDisabled") Создать аккаунт
    
    .form-group.text-center.my-0
        a.form-text.text-muted(href="javascript:void(0)") Согласие с правилами
