if !data
    - var data = require('../_data');
    
section#magic.section.py-4: .container
    .section-inner
        h2.section-header.text-center
            div.part-1 Магия
            div.part-2 SkyMP
            
        .row-circle
            .pivot
                .circle-block.block-1.d-flex.flex-column
                    img.frame-top(src=require('../assets/magic-img/frame-top.png'))
                    .block-text.text-center.px-4 Круг для изучения Простейших заклинаний
                    img.frame-bottom(src=require('../assets/magic-img/frame-bottom.png'))
                .circle-block.block-2.d-flex.flex-column
                    img.frame-top(src=require('../assets/magic-img/frame-top.png'))
                    .block-text.text-center.px-4 Круг для изучения Вспомогательных заклинаний
                    img.frame-bottom(src=require('../assets/magic-img/frame-bottom.png'))
                .circle-block.block-3.d-flex.flex-column
                    img.frame-top(src=require('../assets/magic-img/frame-top.png'))
                    .block-text.text-center.px-4 Круг для изучения Продвинутых заклинаний
                    img.frame-bottom(src=require('../assets/magic-img/frame-bottom.png'))
                .circle-block.block-4.d-flex.flex-column
                    img.frame-top(src=require('../assets/magic-img/frame-top.png'))
                    .block-text.text-center.px-4 Круг для изучения Экспертных? заклинаний
                    img.frame-bottom(src=require('../assets/magic-img/frame-bottom.png'))
                .circle-block.block-5.d-flex.flex-column
                    img.frame-top(src=require('../assets/magic-img/frame-top.png'))
                    .block-text.text-center.px-4 Круг для изучения заклинаний Высшей магии
                    img.frame-bottom(src=require('../assets/magic-img/frame-bottom.png'))

        .row-spacing
            
        .row-description.text-center
            p Вступай в коллегию Винтерхолда и освой 5 кругов магии!
            p Желаешь достичь большего?
            p Продвигайся вперёд!
