if !data
    - var data = require('../_data');
    
section#skills.section.py-2: .container
    .section-inner
        h2.section-header.bg-clip-text.text-center Боевая система
            
        .row-text-1.d-flex.justify-content-between.my-4
            img(src=require('../assets/skills-img/decor-1.png'))
            div.text-1.text-center.mx-4 Баланс характеристик, оружия и экипировки персонажей изменен в соответствии с новым игровым режимом
            img(src=require('../assets/skills-img/decor-2.png'))
        
        .row-text-2.d-flex.justify-content-between.align-items-center.my-4
            img(src=require('../assets/skills-img/decor-3.png'))
            div.flex-full.mx-3
                div.text-1.text-left Мистическим камням судьбы -
                div.text-2.text-right мистические свойства
                div.text-3.text-center.mt-2 Хочешь благословение? Найди камень!
            img(src=require('../assets/skills-img/decor-4.png'))

        .row.justify-content-center
            .col-md-10.classes.py-2
                div.corner-left
                div.corner-right
                    
                div.icons.d-flex.justify-content-around
                    img(src=require('../assets/skills-img/decor-mage.png'))
                    img(src=require('../assets/skills-img/decor-war.png'))
                    img(src=require('../assets/skills-img/decor-thief.png'))
                    
                div.text-1.text-center.bg-clip-text.mt-4 Старые возможности по-новому
                div.text-2.text-center Изменены и улучшены ветви умений
                    
