if !data
    - var data = require('../_data');
    
section#war.section.py-4: .container
    .section-inner
        div.row.justify-content-center
            .col-5.section-header-left
                h2.section-header.bg-clip-text.text-center Империя
            .col-1.section-header-center.text-center.d-flex.align-items-center
                img.size-contains(src=require('../assets/war-img/swords2.png'))
            .col-5.section-header-right
                h2.section-header.bg-clip-text.text-center Братья Бури
            
        div.row.row-ranks.justify-content-center
            .col.col-lg-4.ranks-left.text-right
                ul
                    li Король
                    li Генерал
                    li Управитель
                    li Хускарл
                    li Придворный маг
                    li Легат
                    li Префект
                    li Квестор
                    li Легионер
                    li Стражник
                    li Рекрут
            .col-1
            .col.col-lg-4.ranks-right.text-left
                ul
                    li Король
                    li Военачальник
                    li Управитель
                    li Хускарл
                    li Придворный маг
                    li Клинок Бури
                    li Снежный молот
                    li Костолом
                    li Ледяные жилы
                    li Стражник
                    li Рекрут
                    
        div.row.row-icons.justify-content-center
            .col-2.icon.text-center
                img.animated(src=require('../assets/war-img/camp.png'))
                div.title.animated Лагерь
                div.icon-desc.animated От 30 нападающих
            .col-2.icon.text-center
                img.animated(src=require('../assets/war-img/fort.png'))
                div.title.animated Форт
                div.icon-desc.animated От 30 нападающих
            .col-2.icon.text-center
                img.animated(src=require('../assets/war-img/town.png'))
                div.title.animated Город
                div.icon-desc.animated От 30 нападающих
            .col-2.icon.text-center
                img.animated(src=require('../assets/war-img/town2.png'))
                div.title.animated Укреплённый город
                div.icon-desc.animated От 30 нападающих
                
        div.row.justify-content-center: .col.col-md-8
            .description.text-center Прими участие в массовых сражениях за вражеские территории
                    
